<div class="jumbotron">
  <h3>Total Number of Product Listings</h4>
  <h2><%=@product_count%></h2>
  <%=link_to "View Products", [:admin, :products]%>
</div>
<div class="jumbotron">
  <h3>Total Number of Categories</h4>
  <h2><%=@category_count%></h2>
  <%=link_to "View Categories", [:admin, :categories]%>
</div>